<body style="padding: 10px;background-image: url(https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png)">
  <ion-header class="ion-header">
    <ion-toolbar style="padding-bottom: 10px; padding-top: 10px;" color='dark'>
      <ion-title><img src="https://assets.webiconspng.com/uploads/2017/09/Star-Wars-PNG-Image-76646.png" width="80"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color='medium'>
    <ion-list *ngIf="length === 0; then thenBlock  ; else  elseBlock">
    </ion-list>
    <ng-template #thenBlock>
      <ion-item *ngFor="let item of [0, 1, 2, 3, 4, 5, 6, 7]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ng-template>

    <ng-template #elseBlock>
      <ion-list inset = true style="background-color: #1c1d20">
        <ion-item-sliding *ngFor="let film of results" style="padding-bottom: 15px;">
          <ion-item button (click)="filmPage(film)" color='dark'>
            <ion-avatar slot="start">
              <img [attr.src]="imgsUrls(film.episode_id).url" >
            </ion-avatar>

            <ion-label>
              <b>{{ film.title }}</b>
              <p><i>Director: {{ film.director }}</i></p>
            </ion-label>

            <ion-note color="warning" slot="end">
              Debuted in<br>{{film.release_date}}
            </ion-note>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ng-template>
  </ion-content>

</body>
